.MarketInfo {
  display: flex;

  &-Preview {
    flex: 1;
    display: flex;
  }

  &-Info {
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-RateBlock {
    padding: 20px 0;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &-Actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &-Action {
    font-weight: bold;
  }

  &-Description{
    margin-top: 15px;
    font-size: 14px;
    width: fit-content;

    &:first-child {
      margin-top: 0;
    }

    &_gray {
      color: gray;
    }

    &_dotted {
      border-bottom: dotted 2px gray;
    }
  }
}

.MarketInfoHeader {
  margin-bottom: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;

  &-Title {
    font-family: "Arial Black", Gadget, sans-serif !important;
  }

  &-Left {
    display: flex;
    flex-direction: column;
  }

  &-Right {
    display: flex;
  }

  &-HexagonMargin{
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1050px) {
  .MarketInfo {
    flex-direction: column;

    &-Preview {
      align-self: center;
    }

    &-Actions {
      align-items: center;
      flex-direction: column;
    }

    &-Description {
      padding: 0 5px;
    }
  }
}
