.MarketSelect-Input {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 10px;
  position: relative;
  background-color: lightgray;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  width: auto;
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  font-family: "Arial Black";
}
