$padding: calc((100% - 1010px) / 2);

.MarketPage {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-Contacts {
    padding: 15px $padding;
  }

  &-Filters {
    padding: 0 $padding;
  }

  &-BreadCrumbs {
    padding: 15px $padding;
  }

  &-Description {
    padding: 15px $padding;
  }

  &-Info {
    padding: 15px $padding;
  }
}
