.GridContainer {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
}

.GridContainer-Item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: span 1;
}

@media only screen and (min-width: 1050px)  {
    .GridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 700px) and (max-width: 1050px)  {
    .GridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
