.MarketInput {
  display: flex;
  align-items: center;
  width: fit-content;
  border: solid 2px lightgray;
  box-shadow: 0 0 !important;
  padding-left: 4px;
  height: 36px;

  &-Icon {
    background: lightgray !important;
    height: -webkit-fill-available !important;
    width: 25px !important;
  }
}
