.Icon-react{
    background: url('../../assets/logo.svg') no-repeat no-repeat;
    object-fit: scale-down;
    background-position: center;
}

.Icon-arrowDown{
    background: url('assets/sort-down.svg') no-repeat no-repeat;
    object-fit: scale-down;
    background-position: center;
    background-size: contain;
}