.FilterBlock {
  display: flex;
  flex-direction: column;

  &-Select {
    min-width: 100px !important;
    max-width: 240px;
    width: 20%;
  }

  &-Items {
    display: flex;
    justify-content: space-around;
  }

  &-DisableFocus {
    background: white !important;
  }

  &-Header {
    margin: 0 !important;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-Search {
    margin-left: -61px !important;

    &Input {
      transition: width;
      transition-duration: .7s;
      width: 350px !important;

      &.Mui-focused {
        width: 450px !important;
      }
    }
  }
}
