.FilterBlock {
    display: flex;
    flex-direction: column;

    &-Select {
        min-width: 100px !important;
        max-width: 240px;
        width: 20%;
    }

    &-Items {
        display: flex;
        justify-content: space-around;
    }
}
