.Chess-Container{
    width: 640px;
    height: 640px;
    background: gray;
    margin-top: 20px;
    box-sizing: content-box;
    border: solid 1px;
    line-height:0;
    cursor: pointer;
    user-select: none;
}

.Chess-Container_player_black {
    transform: rotate(180deg);
}

/* */
.Chess-Cell {
    border: solid 1px;
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.Chess-Cell_black {
    background: black;
}

.Chess-Cell_white {
    background: white;
}

.Chess-Cell_action_active {
    transition-duration: .5s;
    background: #4caf50;
}

.Chess-Cell_action_attack {
    transition-duration: .5s;
    background: #af2f21;
}

.Chess-Cell_current {
    transition-duration: .5s;
    background: #a8af3b;
}

.Chess-Cell_white.Chess-Cell_current {
    border: solid 2px white;
}

/* */
.Chess-Item {
     position: absolute;
     width: 100%;
     padding: 50% 0;
     text-align: center;
 }

.Chess-Item_player_black {
    transform: rotate(180deg);
}

.Chess-Item_color_black {
    background: url(assets/spriteMap.png) no-repeat;
}

.Chess-Item_color_white {
    background: url(assets/spriteMap.png) no-repeat;
}

.Chess-Item_figure_rook.Chess-Item_color_white {
    background-position: 0 0;
}

.Chess-Item_figure_queen.Chess-Item_color_white {
    background-position: -80px 0;
}

.Chess-Item_figure_king.Chess-Item_color_white {
    background-position: -80px -80px;
}

.Chess-Item_figure_bishop.Chess-Item_color_white {
    background-position: -160px -80px;
}

.Chess-Item_figure_knight.Chess-Item_color_white {
    background-position: 0 -80px;
}

.Chess-Item_figure_pawn.Chess-Item_color_white {
    background-position: -160px 0;
}



.Chess-Item_figure_rook.Chess-Item_color_black {
    background-position: -240px 0;
}

.Chess-Item_figure_queen.Chess-Item_color_black {
    background-position: -320px 0;
}

.Chess-Item_figure_king.Chess-Item_color_black {
    background-position: -320px -80px;
}

.Chess-Item_figure_bishop.Chess-Item_color_black {
    background-position: -400px -80px;
}

.Chess-Item_figure_knight.Chess-Item_color_black {
    background-position: -240px -80px;
}

.Chess-Item_figure_pawn.Chess-Item_color_black {
    background-position: -400px 0;
}

