.Hexagon {
  width: 65px;
  height: 65px;
  -webkit-mask: url("./Hexagon.asset/Hexagon.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-size: contain;
  background-color: black;

  &-Text {
    z-index: 1;
    font-weight: bold;
    color: white;
  }

  &_gold {
    background-color: gold;

    .Hexagon-Text {
      color: black;
    }
  }
}