.Input-Container{
    position: relative;
}

.Input{
    width: 100%;
    font-weight: bold;
    height: 40px;
    padding-left: 40px;
    font-size: calc(2.5vw - 12px);
    font-family: "fantasy";
}

.Input:active, .Input:focus{
    border: red 2px solid;
}

.Input-Icon{
    z-index: 999;
    position: absolute;
    height: 40px;
    width: 40px;
}

