.Thumb{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: 345px;
    grid-column: span 1;
}

.Thumb_medium {
    max-width: 720px;
    grid-column: span 2;
}

.Thumb-Header {
    display: flex;
    padding: 10px;
    white-space: nowrap;
}

.Thumb-Header .MuiCardHeader-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.Thumb-Header .MuiCardHeader-content{
    max-width: 220px;
}

.Thumb-Content{
    flex: 1;
    object-fit: cover;
    height: 230px;
}