.Thumb{
    width: 100%;
    max-width: 345px;
    display: flex;
    flex-direction: column;
}

.Thumb-Header {
    display: flex;
    padding: 10px;
    white-space: nowrap;
}

.Thumb-Content{
    flex: 1;
    object-fit: cover;
    height: 230px;
}