.CInput-Input:focus {
    outline: none;
}

.CInput {
    margin-top: 16px;
    float: left;
    width: 100%;
    position: relative;
}

.CInput-Label{
    pointer-events: none;
}

.CInput-Input {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font: 15px/24px 'Muli', sans-serif;
    color: #000000;
    width: 100%;
    letter-spacing: 1px;
}

.CInput-Input ~ .CInput-Line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

.CInput-Input:focus ~ .CInput-Line{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.CInput-Input ~ .CInput-Label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;

    letter-spacing: 0.5px;
}

.CInput-Input:focus ~ .CInput-Label  {
    top: -16px;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}
